body{
    width: 600px;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 10px 0 10px 20px;
    background-color: #0D1562;
}

header img{
    height: 30px;
}

header h1 {
    margin-right: 40px;
    margin-top: 20px;
    color: white;
}

section {
    padding: 10px 20px;
}

h4{
    margin-top: 0px;
}

p{
    margin-bottom: 2px;
}

#verifying{
    display: none;
}

#failed{
    display: -webkit-inline-box;
}

#alert-icon{
    max-width: 20px;
    max-height: 20px;
    margin-right: 10px;
    padding-top: 8px;
}

#loading{
    display: none;
    font-size: 20px;
    text-align: center;
}

.detail{
    width: 100%;
    display: inline-flex;
}


.details{
    width: 130px;
    padding: 10px;
    font-size: 12px;
    font-weight:bold;
    white-space: nowrap;
    text-align: right;
    background-color: #f99d1c;
    color: white;
}

.site-info{
    width: 100%;
    height: 34px;
    margin-top: 12px;
    padding-left: 10px;
    border: 1px solid #f99d1c;
}

#screen-capture{
    height: 257px;
    max-width: 300px;
    margin-top: 12px;
    border: 4px double #f99d1c;
}

#submit{
    width:180px;
    height: 50px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border:none;
    border-radius: 7px;
    cursor: pointer;
    color: #fff;
    background-color: #0092eb;

}

#submit:hover{
    background: #007dc9 ;
}

#loaded{
    display: none;
}

.img-container {
    height: 267px;
}

.img-container p {
    height: 245px;
    width: 100px;
}

.spinner {
  margin: 50px auto;
  width: 50%;
  height: 100px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #0092eb;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
